div.profile-content {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

div.profile-img{
  text-align: center;
  margin: 25% auto;
  ion-icon[name="person-circle"]{
    font-size: 120px;
  }
  p.full-name{
    text-transform: uppercase;
    font-weight: 300;
  }
}
ion-list{
  margin-top: 25px;
}
.ion-no-border{
  border-bottom: 1px #eeeeee solid;
}
ion-item{
  ion-label{
    font-size: 14px;
    margin-left: 10px;
  }
  ion-icon{
    transform: translateY(-3px);
  }
}
